@import "@/styles/config/_colors.scss";
.aside {
  border-radius: clamp(20px, 10vw, 50px);
  overflow: hidden;
  height: 88vh;
  position: relative;
  &__bgImage {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  &__contactBox {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: 300px;
    padding: clamp(10px, 5vw, 20px);
    background-color: $color-brand-light;
    border-bottom-right-radius: clamp(12px, 7vw, 40px);
    z-index: 2;
  }
  &__icon{
    display: inline-block;
    img{
      height: 20px;
      width: 20px
    }
  }
}
