@font-face {
  font-family: "hnb";
  src: url("/fonts/hnb.woff2") format("woff2");
}
@font-face {
  font-family: "hn";
  src: url("/fonts/hn.woff2") format("woff2");
}
@font-face {
  font-family: "hnm";
  src: url("/fonts/hnm.woff2") format("woff2");
}
@font-face {
  font-family: "hnt";
  src: url("/fonts/hnt.woff2") format("woff2");
}
