@import "@/styles/config/_colors.scss";

@font-face {
  font-family: "hnb";
  src: url("/app/fonts/hnb.woff2") format("woff2");
}
@font-face {
  font-family: "hn";
  src: url("/app/fonts/hn.woff2") format("woff2");
}

body {
  font-family: "hn", sans-serif;
  color: $color-brand;
  margin: clamp(10px, 8vw, 20px);
}
h1 {
  font-family: "hnb", sans-serif;
}
h2 {
  font-family: "hnb", sans-serif;
}
img {
  object-fit: cover;
  max-width: 100%;
}
