@import "@/styles/config/_colors.scss";
@import "@/styles/config/_mixins.scss";

html {
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none;
}
body {
  @include font-regular;
  color: $color-brand;
  margin: clamp(10px, 8vw, 20px);
  font-size: clamp(14px, 10vw, 15px);
}
