@import "@/styles/config/_colors.scss";
@import "@/styles/config/_layout.scss";
@import "@/styles/config/_mixins.scss";

h1 {
  @include font-bold;
  font-size: 50px;
  color: $color-brand;
  p {
    @include font-bold;
    font-size: inherit;
    color: $color-brand;
  }
}
h2 {
  @include font-bold;
}
img {
  object-fit: cover;
  max-width: 100%;
}
p {
  @include font-regular;
  margin-top: 0;
  font-size: 15px;
  color: $color-brand-70;
  line-height: 1.3;
}
a {
  @include font-medium;
  font-size: inherit;
  text-decoration: none;
  color: $color-brand-70;
  transition: opacity $transition;
  &:hover {
    opacity: 0.8;
  }
}
