@mixin font-bold {
  font-family: "hnb", sans-serif;
}
@mixin font-medium {
  font-family: "hnm", sans-serif;
}
@mixin font-regular {
  font-family: "hn", sans-serif;
}
@mixin font-thin {
  font-family: "hnt", sans-serif;
}

@mixin vp-lg {
  // min-width: 1025
  @media only screen and (min-width: $vp-large) {
    @content;
  }
}

@mixin vp-xl {
  // min-width: 1280
  @media only screen and (min-width: $vp-extra-large) {
    @content;
  }
}

@mixin vp-small-devices {
  // max-width: 1280
  @media only screen and (max-width: $vp-small) {
    @content;
  }
}

// custom viewport - max
@mixin vp-custom-max($viewport-size) {
  @media only screen and (max-width: $viewport-size) {
    @content;
  }
}
@mixin vp-custom-max-w-max-h($viewport-size-w, $viewport-size-h) {
  @media (max-width: $viewport-size-w) and (max-height: $viewport-size-h) {
    @content;
  }
}
// custom viewport - min
@mixin vp-custom-min($viewport-size) {
  @media only screen and (min-width: $viewport-size) {
    @content;
  }
}
